<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="row">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Create Owner</h4>
            <form action="" target="_self" method="post" id="owner-create-validation" novalidate>
                <div class="mb-3">
                    <label for="social-number">Social security number</label>
                    <input type="text" class="form-control" id="ssn" name="ssn" value="">
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" value="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" value="">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="">
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="">
                </div>

                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" value="">
                </div>

                <button class="btn btn-primary btn-lg mt-4" type="submit">Create</button>
            </form>
        </div>
    </div>
</main>
</div>
</div>
