<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="row">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Edit Property</h4>
            <form action="" target="_self" method="post" id="property-edit-validation" novalidate>
                <div class="mb-3">
                    <label for="propertyStateId">Property state ID</label>
                    <input type="text" class="form-control" id="propertyStateId" name="propertyStateId" value="${property.propertyStateId}" readonly>
                </div>
                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" value="${property.address}">
                </div>

                <div class="mb-3">
                    <label for="manufacturingYear">Manufacturing year</label>
                    <input type="text" class="form-control" id="manufacturingYear" name="manufacturingYear" value="${property.manufacturingYear}">
                </div>

                <div class="mb-3">
                    <label for="propertyType">Property type</label>
                    <select class="custom-select d-block w-100" id="propertyType" name="propertyType">
                        <option value="DEFAULT" <#if property.propertyType.getPropertyType() == "Undefined">selected</#if>>Undefined</option>
                        <option value="BLOCK_OF_FLATS" <#if property.propertyType.getPropertyType() == "Block of flats">selected</#if>>Block of flats</option>
                        <option value="APARTMENT" <#if property.propertyType.getPropertyType() == "Apartment">selected</#if>>Apartment</option>
                        <option value="HOUSE" <#if property.propertyType.getPropertyType() == "House">selected</#if>>House</option>
                        <option value="MAISONETTE" <#if property.propertyType.getPropertyType() == "Maisonette">selected</#if>>Maisonette</option>
                        <option value="SHOP" <#if property.propertyType.getPropertyType() == "Shop">selected</#if>>Shop</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="ownerSsn">Owner's SSN</label>
                    <input type="text" class="form-control" id="ownerSsn" name="ownerSsn" value="${property.propertyOwner.ssn}">
                </div>

                <button class="btn btn-primary btn-lg mt-4" type="submit">Update</button>
            </form>
        </div>
    </div>
</main>
</div>
</div>

