<!DOCTYPE html>
<html lang="en">
<#include "/partials/header.ftlh">
<body>
<#assign page = "home-for-admin">
<#include "/partials/navigation.ftlh">
<#include "/tables/home-for-admin.ftlh">
<#assign modal_id = "removeRepairModal">
<#include "/partials/modal.ftlh">
<#include "/partials/footer.ftlh">
</body>
</html>
