
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h3 class="mb-3">My repairs</h3>

    <div class="table-responsive">

        <table class="table table-striped table-sm" >
            <thead>
            <tr>
                <th>Date</th>
                <th>Repair Status</th>
                <th>Repair type</th>
                <th>Cost</th>
                <th>Property Address</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <#if repairs??>
                <#list repairs as repair>
                    <tr data-id="${repair.id}">
                        <td>${repair.date}</td>
                        <td>${repair.repairStatus.getRepairStatus()}</td>
                        <td>${repair.repairType.getRepairType()}</td>
                        <td>${repair.cost}</td>
                        <td>${repair.property.address}</td>
                        <td>${repair.description}</td>
                    </tr>
                </#list>
            </#if>
            </tbody>
        </table>
    </div>
</main>
</div>
</div>