<!DOCTYPE html>
<html lang="en">
<#include "/partials/header.ftlh">
<body>
<#assign page = "admin/edit-repair">
<#include "/partials/navigation.ftlh">
<#include "/forms/edit-repair.ftlh">
<#include "/partials/footer.ftlh">
</body>
</html>