<!DOCTYPE html>
<html lang="en">
<#include "/partials/header.ftlh">
<body>
<#assign page = "admin/repairs">
<#include "/partials/navigation.ftlh">
<#include "/tables/repairs.ftlh">
<#assign modal_id = "removeRepairModal">
<#include "/partials/modal.ftlh">
<#include "/partials/footer.ftlh">
</body>
</html>
