<!DOCTYPE html>
<html lang="en">
<#include "/partials/header.ftlh">
<body>
<#assign page = "admin/search-repairs">
<#include "/partials/navigation.ftlh">
<#include "/forms/search-repairs.ftlh">
<#assign modal_id = "removeRepairModal">
<#include "/partials/modal.ftlh">
<#include "/partials/footer.ftlh">
</body>
</html>