<!DOCTYPE html>
<html lang="en">
<#include "/partials/header.ftlh">
<body class="alert-dark">
<div class="container">
    <div class="copy-container center-xy">
        <div class="alert alert-danger" role="alert">
            ${errorMessage!"error"}
        </div>
    </div>
</div>
<#include "/partials/footer.ftlh">
</body>
</html>